#map {
    height: 100vh;
}

#overlay {
    position: fixed;
    display: block;
    width: 320px;
    height: 70%;
    top: 20%;
    right:5%;
    background-color: red;
    opacity:0.7;
    z-index: 2;
    overflow-y: auto;
    color: white;
}

#sort-by-container {
    padding: 5% 0% 0% 5%;
}

#restaurant-container {
    font-size: 15px;
    padding: 5%;
    overflow-y: auto;
}

.restaurant-pin-container > h2 {
    font-size: 16px;
    color: #737373;
}

.restaurant-pin-container > h4 {
    font-size: 14px;
}

.restaurant-pin-container > span {
    font-size: 12px;
}